body {
  margin: 0px;
  max-width: 100%;
}

#headcat {
  max-width: 1515px;
  height: auto;
  width: auto;
}

.Kats-Cats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 80px;
}

#Cat1, #Cat2, #Cat3 {
  border-radius: 50%;
}

.Main {
  margin: 0 4em;
}

h1 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.875em;
  color: #323232;
  text-align: center;
}

h2 {
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px;
}

h3 {
  font-family: 'PT Serif Regular', serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
  margin: .5em;
}

nav {
  height; 80px;
}
nav h1 {
  text-align: left;
  display: inline;
  float: left;
}

nav p {
  font-family: 'PT Sans Regular', sans-serif;
  font-size: .9em;
  color: #323232;
  padding: 1em;
  float: right;
  margin-right: 1em;
}

.Mavis, .Kat {
  display: inline-block;
  background-color: #eee;
  width: 40%;
  padding: 30px;
  margin: 30px;
}

p {
  font-family: 'PT Serif Regular', serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}

.Gray {
  background-color: #eee;
  padding: 80px;
}

.Business, .Contact {
  width: 35%;
  display: inline-block;
  padding: 30px;
  margin: 60px;
  background-color: white;
}

a {
  font-family: 'PT Serif Bold', serif;
  color: #f26522;
  font-size: 1em;
  display: inline;
}

footer h1{
  background-color: teal;
  color: #eee;
  text-align: center;
  font-family: 'PT Sans Narrow Bold', sans-serif;
  font-size: 1.25em;
  height: 125px;
  padding-top: 5em;
}

#map {
  max-width: 100%;
  background-size: cover;
  max-height: auto;
  width: 100%;
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}

/* On devices narrower than 840px */
@media(max-width: 840px) {
  .Main {
    margin: 0;
  }

  #map, #headcat {
    max-width: 100%;
    background-size: cover;
    max-height: auto;
    width: 100%;
    height: auto;
  }
  .Mavis, .Kat {
    display: block;
    background-color: #eee;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }
  #Cat1, #Cat2, nav p {
    display: none;
  }
  .Gray {
    padding: 0;
  }
  .Business, .Contact {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
    background-color: #eee;
  }
  nav h1 {
    text-align: center;
  }

}
